html, body {
	margin: 0;
	padding: 0;
	font-size: 16px;
}

@font-face {
	font-family: Aller;
	src: url(fonts/Aller_Rg.ttf);
}

@font-face {
	font-family: AllerBold;
	src: url(fonts/Aller_Bd.ttf);
}

.aller {
	font-family: Aller;
}

.allerBold {
	font-family: AllerBold;
}

#wrap > div {
	padding: 0 135px;	
}

#header {
	color: white;
	background: black;
	height: 90px;
	padding-top: 45px !important;
	width: auto;
}

.logo {
	float: left;
}

.logo h3 {
	font-size: 34px;
	margin: 0;
	font-weight: 200;
}

.logo p {
	margin: 4px 0;
	font-size: 14px;	
}

.logo img {
	vertical-align: top;
	padding-top: 6px;
}